*{
  font-family: Arial;
  font-size: 16px;
}
body{
  background-color: rgb(191, 167, 214);

}
main{
  background-color: white;
  width: 500px;
  margin: auto;
  padding: 10px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}
